.social-link {
    position: relative;
    background: linear-gradient(90deg,
            rgba(179, 203, 60, 0.35),
            rgba(179, 203, 60, 0.9) 33.62%,
            rgba(179, 203, 60, 0.9) 72.34%,
            rgba(179, 203, 60, 0.35));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.social-links-container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.copyright-section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}